<h1>Login efetuado via OAuth 2.0</h1>
<p>ID DO USUÁRIO: <%= @parsed_response['id_terceiro'] %></p>
<p>NOME DO USUÁRIO: <%= @parsed_response['nome_terceiro'] %></p>
<p>CNPJ DA EMPRESA: <%= @parsed_response['cnpj_empresa'] %></p>